<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Containers</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/clients.css">
    <link rel="stylesheet" href="/css/purchase.css">

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Vinteh"/>
    <link rel="manifest" href="/favicon/site.webmanifest"/>
</head>
<body>
<label class="hamburger">
    <input id="hamburger" type="checkbox">
    <svg viewBox="0 0 32 32">
        <path class="line line-top-bottom"
              d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
        <path class="line" d="M7 16 27 16"></path>
    </svg>
</label>

<header>
    <div class="user-info">
        <span id="userName">Не вказано</span><br>
        <span id="userBalance">0</span>
    </div>
    <nav>
        <ul>
            <li id="nav-clients" class="dropdown">
                <a href="#" onclick="return false;">
                    Клієнти
                    <span class="dropdown-arrow">▼</span>
                </a>
                <ul id="client-types-dropdown" class="dropdown-menu" style="display: none;">
                </ul>
            </li>
            <li id="nav-routes" class="dropdown">
                <a href="#" onclick="return false;">
                    Маршрути
                    <span class="dropdown-arrow">▼</span>
                </a>
                <ul id="route-types-dropdown" class="dropdown-menu" style="display: none;">
                </ul>
            </li>
            <li id="nav-purchase" class="dropdown">
                <a href="#" onclick="return false;">
                    Закупівлі
                    <span class="dropdown-arrow">▼</span>
                </a>
                <ul id="purchase-types-dropdown" class="dropdown-menu" style="display: none;">
                </ul>
            </li>
            <li id="nav-containers" class="dropdown">
                <a class="selected-nav" href="#" onclick="return false;">
                    Тари
                    <span class="dropdown-arrow">▼</span>
                </a>
                <ul id="container-types-dropdown" class="dropdown-menu" style="display: none;">
                </ul>
            </li>
            <li id="nav-inventory"><a href="/inventory">
                Баланс тари
            </a></li>
            <li id="nav-finance"><a href="/finance">
                Фінанси
            </a></li>
            <li id="nav-stock"><a href="/stock">
                Склад
            </a></li>
            <li id="nav-declarant"><a href="/declarant">
                Декларант
            </a></li>
            <li id="nav-analytics"><a href="/analytics">
                Аналітика
            </a></li>
            <li id="nav-settings"><a href="/settings" class="setting-icon-block">
                Налаштування
            </a></li>
            <li id="nav-administration"><a href="/administration">
                Адміністрування
            </a></li>
            <li id="nav-profile"><a href="/profile">
                Мій профіль
            </a></li>
            <li>
                <a href="#" id="logout">
                    Вихід
                </a>
            </li>
        </ul>
    </nav>
</header>

<div class="search-section">
    <span id="all-client-info"></span>
    <div class="search-block">
        <label style="display: none" for="inputSearch"></label>
        <input type="text" id="inputSearch" placeholder="Пошук">
    </div>

    <div class="filter-button-block">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.796 4H5.20398C5.01174 3.99984 4.82352 4.05509 4.66187 4.15914C4.50022 4.26319 4.37199 4.41164 4.29253 4.58669C4.21308 4.76175 4.18577 4.956 4.21387 5.14618C4.24197 5.33636 4.32429 5.51441 4.45098 5.659L9.75298 11.717C9.91245 11.8995 10.0002 12.1337 9.99998 12.376V17.25C9.99998 17.3276 10.0181 17.4042 10.0528 17.4736C10.0875 17.543 10.1379 17.6034 10.2 17.65L13.2 19.9C13.2743 19.9557 13.3626 19.9896 13.4551 19.998C13.5476 20.0063 13.6405 19.9887 13.7236 19.9472C13.8066 19.9057 13.8765 19.8419 13.9253 19.7629C13.9741 19.6839 14 19.5929 14 19.5V12.376C13.9997 12.1337 14.0875 11.8995 14.247 11.717L19.549 5.658C20.115 5.012 19.655 4 18.796 4Z"
                  stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </div>

    <div id="filter-counter" style="display: none; cursor: pointer;">
        <span id="filter-count">0</span>
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 3.5L4.125 13.5C4.15469 14.0778 4.575 14.5 5.125 14.5H10.875C11.4272 14.5 11.8397 14.0778 11.875 13.5L12.5 3.5"
                  stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 3.5H13.5Z" fill="#FF0000"/>
            <path d="M2.5 3.5H13.5" stroke="#FF0000" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M6 3.5V2.25C5.99971 2.15143 6.01891 2.05377 6.0565 1.96265C6.09409 1.87152 6.14932 1.78873 6.21903 1.71903C6.28873 1.64933 6.37152 1.59409 6.46265 1.55651C6.55377 1.51892 6.65143 1.49971 6.75 1.5H9.25C9.34857 1.49971 9.44623 1.51892 9.53735 1.55651C9.62848 1.59409 9.71127 1.64933 9.78097 1.71903C9.85068 1.78873 9.90591 1.87152 9.9435 1.96265C9.98109 2.05377 10.0003 2.15143 10 2.25V3.5M8 5.5V12.5M5.75 5.5L6 12.5M10.25 5.5L10 12.5"
                  stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>

    <button id="exportToExcelData" class="btn btn-primary">Excel</button>

</div>

<div id="filterModal" class="modal-filter">
    <div class="modal-content-filter">
        <span class="close-filter">×</span>
        <h1>ФІЛЬТРИ</h1>
        <form id="filterForm">

        </form>
        <button id="modal-filter-button-submit" type="submit">Застосувати фільтри</button>
    </div>
</div>

<div id="clientTypeSelectionModal" class="modal-client-type-selection" style="display: none;">
    <div class="modal-client-type-selection-content">
        <span class="close-client-type-modal">&times;</span>
        <h2>Виберіть тип клієнта</h2>
        <div id="client-types-selection-list" class="client-types-grid">

        </div>
    </div>
</div>

<div id="exportModalData" class="modal-export-data" style="display: none;">
    <div class="modal-export-data-content">
        <span id="close-export-modal" class="close">&times;</span>
        <h3>Виберіть поля для експорту</h3>
        <form id="exportFieldsForm">
            <div class="export-fields-section">
                <h4>Поля тари:</h4>
                <label><input type="checkbox" name="fields" value="container" checked> Тип тари</label>
                <label><input type="checkbox" name="fields" value="quantity" checked> Кількість</label>
                <label><input type="checkbox" name="fields" value="user" checked> Власник</label>
                <label><input type="checkbox" name="fields" value="updatedAt" checked> Оновлено</label>
            </div>
            <div class="export-fields-section">
                <h4>Поля клієнта:</h4>
                <label><input type="checkbox" name="fields" value="id-client" checked> Id клієнта</label>
                <label><input type="checkbox" name="fields" value="company-client" checked> Компанія</label>
                <label><input type="checkbox" name="fields" value="createdAt-client" checked> Дата створення клієнта</label>
                <label><input type="checkbox" name="fields" value="updatedAt-client" checked> Дата оновлення клієнта</label>
                <label><input type="checkbox" name="fields" value="source-client" checked> Залучення клієнта</label>
            </div>
        </form>
        <button id="exportConfirm" class="btn btn-primary">Експортувати</button>
    </div>
</div>

<div id="client-list">
    <table>
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody id="client-table-body">
        </tbody>
    </table>
</div>

<div id="pagination">
    <button id="prev-btn"><</button>
    <span id="pagination-info"></span>
    <button id="next-btn">></button>
</div>

<div id="loader-backdrop" class="loader-backdrop" style="display: none;">
    <div id="loader" class="loader"></div>
</div>


<script src="/js/utils/phoneValidation.js"></script>
<script src="/js/utils/constants.js"></script>
<script src="/js/utils/dropdownLoader.js"></script>
<script src="/js/error.js"></script>
<script src="/js/modules/ClientState.js"></script>
<script src="/js/modules/ClientPermissions.js"></script>
<script src="/js/modules/ClientUtils.js"></script>
<script src="/js/modules/ClientFieldFormatter.js"></script>
<script src="/js/modules/ClientDataLoader.js"></script>
<script src="/js/modules/ClientFilters.js"></script>
<script src="/js/modules/ClientModal.js"></script>
<script src="/js/modules/ClientEditor.js"></script>
<script src="/js/modules/ClientRenderer.js"></script>
<script src="/js/modules/ClientDetailsModals.js"></script>
<script src="/js/modules/ContainerDataLoader.js"></script>
<script src="/js/modules/ContainerRenderer.js"></script>
<script src="/js/modules/ContainerFilters.js"></script>
<script src="/js/modules/ContainerTypeManager.js"></script>
<script src="/js/columnResizer.js"></script>
<script src="/js/createCustomSelect.js"></script>
<script src="/js/common.js"></script>
<script src="/js/containers.js"></script>
<script src="/js/exportExcelContainer.js"></script>
<div id="client-modal" style="display: none;" data-source-id="" data-client-id="">
    <div class="modal-content-client">
        <span id="close-modal-client" class="close">&times;</span>
        <h1>Клієнт #<span id="modal-client-id"></span></h1>
        <div class="section-client-buttons">
            <div class="section-client-buttons-block">
                <button id="show-purchases-client" class="client-action-info-button">Закупівлі</button>
                <button id="show-sale-client" class="client-action-info-button">Продажі</button>
                <button id="show-containers-client" class="client-action-info-button">Тара</button>
            </div>
        </div>
        <div class="client-fields-container">
        <p>
            <strong>Компанія:</strong>
            <span id="modal-client-company"></span>
            <button id="edit-company" class="edit-icon" data-field-id="company" title="Редагувати">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                </svg>
            </button>
        </p>
        <p class="modal-content-p-source">
            <strong>Залучення:</strong>
            <span id="modal-client-source"></span>
            <button id="edit-source" class="edit-icon" data-field-id="source" data-field-type="select" title="Редагувати">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                </svg>
            </button>
        </p>
        <p><strong>Створено:</strong> <span id="modal-client-created"></span></p>
        <p><strong>Оновлено:</strong> <span id="modal-client-updated"></span></p>
        </div>

        <div class="section-client-buttons">

            <div class="section-client-buttons-block">
                <button id="save-client">Зберегти зміни</button>
                <button id="cancel-client" style="display: none;">Відмінити</button>
            </div>

            <div class="section-client-buttons-block">
                <button id="delete-client" class="delete-btn">Видалити</button>
                <button id="restore-client" class="delete-btn" style="display: none;">Відновити</button>
                <button id="full-delete-client" class="delete-btn">Full delete</button>
            </div>
        </div>
    </div>
</div>

<div id="purchaseClientModal" class="modal-purchase-client" style="display: none;">
    <div class="modal-purchase-client-content">
        <span id="closePurchaseModal">&times;</span>
        <h3 id="client-id-purchase">Клієнт:</h3>
        <table id="purchaseTable">
            <thead>
            <tr>
                <th>Водій</th>
                <th>Залучення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сплачено</th>
                <th>Форма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="saleClientModal" class="modal-sale-client" style="display: none;">
    <div class="modal-sale-client-content">
        <span id="closeSaleModal">&times;</span>
        <h3 id="client-id-sale">Клієнт:</h3>
        <table id="saleTable">
            <thead>
            <tr>
                <th>Водій</th>
                <th>Залучення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сплачено</th>
                <th>Форма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="containerClientModal" class="modal-container-client" style="display: none;">
    <div class="modal-container-client-content">
        <span id="closeContainerModal">&times;</span>
        <h3 id="client-id-container">Клієнт:</h3>
        <table id="containerTable">
            <thead>
            <tr>
                <th>Тип тари</th>
                <th>Кількість</th>
                <th>Власник</th>
                <th>Оновлено</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</body>
</html>
