<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/purchase.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Vinteh"/>
    <link rel="manifest" href="/favicon/site.webmanifest"/>
</head>
<body>
<label class="hamburger">
    <input id="hamburger" type="checkbox">
    <svg viewBox="0 0 32 32">
        <path class="line line-top-bottom"
              d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
        <path class="line" d="M7 16 27 16"></path>
    </svg>
</label>

<header>
    <div class="user-info">
        <span id="userName">Не вказано</span><br>
        <span id="userBalance">0</span>
    </div>
    <nav>
        <ul>
            <li id="nav-clients"><a href="/clients">
                Клієнти
            </a></li>
            <li id="nav-routes"><a href="/routes">
                Маршрути
            </a></li>
            <li id="nav-purchase"><a class="selected-nav" href="/purchase">
                Закупівлі
            </a></li>
            <li id="nav-sale"><a href="/sale">
                Продажі
            </a></li>
            <li id="nav-containers"><a href="/containers">
                Тари
            </a></li>
            <li id="nav-inventory"><a href="/inventory">
                Баланс тари
            </a></li>
            <li id="nav-balance"><a href="/balance">
                Баланс грошовий
            </a></li>
            <li id="nav-stock"><a href="/stock">
                Склад
            </a></li>
            <li id="nav-analytics"><a href="/analytics">
                Аналітика
            </a></li>
            <li id="nav-settings"><a href="/settings" class="setting-icon-block">
                Налаштування
            </a></li>
            <li>
                <a href="#" id="logout">
                    Вихід
                </a>
            </li>
        </ul>
    </nav>
</header>

<div class="search-section">
    <span id="all-purchase-info"></span>

    <div id="fetch-report-btn">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 9H9V10H5V9ZM5 6.5H11V7.5H5V6.5ZM5 11.5H7.5V12.5H5V11.5Z" fill="white"/>
            <path d="M12.5 2.5H11V2C11 1.73478 10.8946 1.48043 10.7071 1.29289C10.5196 1.10536 10.2652 1 10 1H6C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V2.5H3.5C3.23478 2.5 2.98043 2.60536 2.79289 2.79289C2.60536 2.98043 2.5 3.23478 2.5 3.5V14C2.5 14.2652 2.60536 14.5196 2.79289 14.7071C2.98043 14.8946 3.23478 15 3.5 15H12.5C12.7652 15 13.0196 14.8946 13.2071 14.7071C13.3946 14.5196 13.5 14.2652 13.5 14V3.5C13.5 3.23478 13.3946 2.98043 13.2071 2.79289C13.0196 2.60536 12.7652 2.5 12.5 2.5ZM6 2H10V4H6V2ZM12.5 14H3.5V3.5H5V5H11V3.5H12.5V14Z"
                  fill="white"/>
        </svg>
    </div>
    <div class="search-block">
        <label style="display: none" for="inputSearch"></label>
        <input type="text" id="inputSearch" placeholder="Пошук">
        <button id="searchButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>

    <div class="filter-button-block">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.796 4H5.20398C5.01174 3.99984 4.82352 4.05509 4.66187 4.15914C4.50022 4.26319 4.37199 4.41164 4.29253 4.58669C4.21308 4.76175 4.18577 4.956 4.21387 5.14618C4.24197 5.33636 4.32429 5.51441 4.45098 5.659L9.75298 11.717C9.91245 11.8995 10.0002 12.1337 9.99998 12.376V17.25C9.99998 17.3276 10.0181 17.4042 10.0528 17.4736C10.0875 17.543 10.1379 17.6034 10.2 17.65L13.2 19.9C13.2743 19.9557 13.3626 19.9896 13.4551 19.998C13.5476 20.0063 13.6405 19.9887 13.7236 19.9472C13.8066 19.9057 13.8765 19.8419 13.9253 19.7629C13.9741 19.6839 14 19.5929 14 19.5V12.376C13.9997 12.1337 14.0875 11.8995 14.247 11.717L19.549 5.658C20.115 5.012 19.655 4 18.796 4Z"
                  stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </div>

    <div id="filter-counter" style="display: none; cursor: pointer;">
        <span id="filter-count">0</span>
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 3.5L4.125 13.5C4.15469 14.0778 4.575 14.5 5.125 14.5H10.875C11.4272 14.5 11.8397 14.0778 11.875 13.5L12.5 3.5"
                  stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 3.5H13.5Z" fill="#FF0000"/>
            <path d="M2.5 3.5H13.5" stroke="#FF0000" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M6 3.5V2.25C5.99971 2.15143 6.01891 2.05377 6.0565 1.96265C6.09409 1.87152 6.14932 1.78873 6.21903 1.71903C6.28873 1.64933 6.37152 1.59409 6.46265 1.55651C6.55377 1.51892 6.65143 1.49971 6.75 1.5H9.25C9.34857 1.49971 9.44623 1.51892 9.53735 1.55651C9.62848 1.59409 9.71127 1.64933 9.78097 1.71903C9.85068 1.78873 9.90591 1.87152 9.9435 1.96265C9.98109 2.05377 10.0003 2.15143 10 2.25V3.5M8 5.5V12.5M5.75 5.5L6 12.5M10.25 5.5L10 12.5"
                  stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>

    <button id="exportToExcelData" class="btn btn-primary">Excel</button>
</div>


<div id="filterModal" class="modal-filter">
    <div class="modal-content-filter">
        <span class="close-filter">&times;</span>
        <h1>ФІЛЬТРИ</h1>
        <form id="filterForm">
            <h2>Дата закупок:</h2>
            <div class="filter-block">
                <label class="from-to-style" for="createdAtFrom">Від:</label>
                <input type="date" id="createdAtFrom" name="createdAtFrom"><br><br>

                <label class="from-to-style" for="createdAtTo">До:</label>
                <input type="date" id="createdAtTo" name="createdAtTo"><br><br>
            </div>

            <h2>Закуплено за раз:</h2>
            <div class="filter-block">
                <label class="from-to-style" for="quantityFrom">Від:</label>
                <input type="number" id="quantityFrom" name="quantityFrom"><br><br>

                <label class="from-to-style" for="quantityTo">До:</label>
                <input type="number" id="quantityTo" name="quantityTo"><br><br>
            </div>

            <h2>Сплачено за раз:</h2>
            <div class="filter-block">
                <label class="from-to-style" for="totalPriceFrom">Від:</label>
                <input type="number" id="totalPriceFrom" name="totalPriceFrom"><br><br>

                <label class="from-to-style" for="totalPriceTo">До:</label>
                <input type="number" id="totalPriceTo" name="totalPriceTo"><br><br>
            </div>

            <h2>Ціна за од.:</h2>
            <div class="filter-block">
                <label class="from-to-style" for="unitPriceFrom">Від:</label>
                <input type="number" id="unitPriceFrom" name="unitPriceFrom"><br><br>

                <label class="from-to-style" for="unitPriceTo">До:</label>
                <input type="number" id="unitPriceTo" name="unitPriceTo"><br><br>
            </div>

            <div class="select-section-items">

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="business-filter">Тип бізнесу:</label>
                    <select id="business-filter" name="business" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="route-filter">Маршрут:</label>
                    <select id="route-filter" name="route" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="region-filter">Область:</label>
                    <select id="region-filter" name="region" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="status-filter">Статус:</label>
                    <select id="status-filter" name="status" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="source-filter">Залучення:</label>
                    <select id="source-filter" name="source" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="user-filter">Водій:</label>
                    <select id="user-filter" name="user" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="product-filter">Товар:</label>
                    <select id="product-filter" name="product" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="paymentMethod-filter">Форма оплати:</label>
                    <select id="paymentMethod-filter" name="paymentMethod" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="currencyType-filter">Валюта:</label>
                    <select id="currencyType-filter" name="currencyType" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="client-product-filter">Товар клієнта:</label>
                    <select id="client-product-filter" name="clientProduct" multiple>
                    </select>
                </div>
            </div>

        </form>
        <button id="modal-filter-button-submit" type="submit">Застосувати фільтри</button>
    </div>
</div>

<div id="report-container" style="display: none;">
    <button class="print-btn" onclick="printReport()">🖨️</button>
    <button class="close-btn" onclick="closeReport()">×</button>
    <h3>Звіт:</h3>
    <div id="report-content"></div>
</div>

<div id="exportModalData" class="modal-export-data" style="display: none;">
    <div class="modal-export-data-content">
        <h3>Виберіть поля для експорту</h3>
        <form id="exportFieldsForm">
            <label><input type="checkbox" name="fields" value="id-client" checked> Id (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="company-client" checked> Компанія (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="person-client" checked> Контактна особа (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="phoneNumbers-client" checked> Номери телефонів (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="createdAt-client" checked> Дата створення
                (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="updatedAt-client" checked> Дата онолвлення
                (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="status-client" checked> Статус (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="source-client" checked> Залучення (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="location-client" checked> Адреса (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="pricePurchase-client" checked> Ціна закупілві
                (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="priceSale-client" checked> Ціна продажу (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="volumeMonth-client" checked> Орієнтований об'єм на
                місяць (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="route-client" checked> Маршрут (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="region-client" checked> Область (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="business-client" checked> Тип бізнесу
                (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="clientProduct-client" checked> Товар (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="edrpou-client" checked> ЄДРПОУ (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="enterpriseName-client" checked> Назва підприємства
                (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="vat-client" checked> ПДВ (клієнта)</label><br>
            <label><input type="checkbox" name="fields" value="comment-client" checked> Коментар (клієнта)</label><br>

            <label><input type="checkbox" name="fields" value="id" checked> Id</label><br>
            <label><input type="checkbox" name="fields" value="user" checked> Водій</label><br>
            <label><input type="checkbox" name="fields" value="source" checked> Залучення</label><br>
            <label><input type="checkbox" name="fields" value="product" checked> Товар</label><br>
            <label><input type="checkbox" name="fields" value="quantity" checked> Кількість</label><br>
            <label><input type="checkbox" name="fields" value="unitPrice" checked> Ціна за од</label><br>
            <label><input type="checkbox" name="fields" value="totalPrice" checked> Повна ціна</label><br>
            <label><input type="checkbox" name="fields" value="paymentMethod" checked> Метод оплати</label><br>
            <label><input type="checkbox" name="fields" value="currency" checked> Валюта</label><br>
            <label><input type="checkbox" name="fields" value="exchangeRate" checked> Курс</label><br>
            <label><input type="checkbox" name="fields" value="transaction" checked> Id транзакції</label><br>
            <label><input type="checkbox" name="fields" value="createdAt" checked> Дата створення</label><br>
            <label><input type="checkbox" name="fields" value="updatedAt" checked> Дата оновлення</label><br>
            <label><input type="checkbox" name="fields" value="comment" checked> Коментар</label><br>
        </form>
        <button id="exportConfirm" class="btn btn-primary">Експортувати</button>
        <button id="exportCancel" class="btn btn-secondary">Скасування</button>
    </div>
</div>

<div id="purchase-list">
    <table>
        <thead>
        <tr>
            <th>Компанія</th>
            <th data-sort="product">Товар</th>
            <th data-sort="user">Водій</th>
            <th data-sort="source">Залучення</th>
            <th data-sort="quantity">Кількість</th>
            <th data-sort="totalPrice">Сплачено</th>
            <th data-sort="unitPrice">За од</th>
            <th data-sort="paymentMethod">Форма</th>
            <th data-sort="currency">Валюта</th>
            <th data-sort="exchangeRate">Курс</th>
            <th data-sort="createdAt">Дата</th>
            <th>Коментар</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody id="purchase-table-body">
        </tbody>
    </table>
</div>

<div id="edit-modal" class="edit-modal" style="display: none;">
    <div class="edit-modal-content">
        <h3>Редагувати закупівлю</h3>
        <form id="edit-form">
            <label>Товар:
                <select name="productId" required></select>
            </label>
            <label>Кількість:
                <input type="number" name="quantity" step="0.01" min="0" required>
            </label>
            <label>Сплачено:
                <input type="number" name="totalPrice" step="0.01" min="0" required>
            </label>
            <label>Дата:
                <input type="date" name="createdAt" required>
            </label>
            <label>Курс:
                <input type="number" name="exchangeRate" step="0.000001" min="0">
            </label>
            <label>Коментар:
                <textarea name="comment" rows="3" placeholder="Додатковий коментар до закупівлі"></textarea>
            </label>
            <label class="edit-source" style="display: none;">Залучення:
                <select name="sourceId" class="edit-source"></select>
            </label>
            <button type="submit">Зберегти</button>
            <button type="button" id="cancel-edit">Відмінити</button>
        </form>
    </div>
</div>


<div id="pagination">
    <button id="prev-btn"><</button>
    <span id="pagination-info"></span>
    <button id="next-btn">></button>
</div>


<div id="client-modal" style="display: none;" data-source-id="" data-client-id="">
    <div class="modal-content-client">
        <span id="close-modal-client" class="close">&times;</span>
        <h1><span id="modal-client-id"></span></h1>
        <div class="section-client-buttons">
            <div class="section-client-buttons-block">
                <button id="show-purchases-client" class="client-action-info-button">Закупівлі</button>
                <button id="show-sale-client" class="client-action-info-button">Продажі</button>
                <button id="show-containers-client" class="client-action-info-button">Тара</button>
            </div>
        </div>
        <p>
            <strong>Компанія:</strong>
            <span id="modal-client-company"></span>
            <i class="edit-icon" onclick="enableEdit('company')">✏️</i>
        </p>
        <p>
            <strong>Контактна особа:</strong>
            <span id="modal-client-person"></span>
            <i class="edit-icon" onclick="enableEdit('person')">✏️</i>
        </p>
        <p>
            <strong>Телефони:</strong>
            <span id="modal-client-phone"></span>
            <i class="edit-icon" onclick="enableEdit('phone')">✏️</i>
        </p>
        <p>
            <strong>Адреса:</strong>
            <span id="modal-client-location"></span>
            <i class="edit-icon" onclick="enableEdit('location')">✏️</i>
        </p>
        <p>
            <strong>Ціна закупівлі:</strong>
            <span id="modal-client-price-purchase"></span>
            <i class="edit-icon" onclick="enableEdit('price-purchase')">✏️</i>
        </p>
        <p>
            <strong>Ціна продажу:</strong>
            <span id="modal-client-price-sale"></span>
            <i class="edit-icon" onclick="enableEdit('price-sale')">✏️</i>
        </p>
        <p>
            <strong>ПДВ:</strong>
            <span id="modal-client-vat"></span>
            <label style="display: none" for="edit-vat"></label>
            <input type="checkbox" id="edit-vat" style="display: none;">
            <i class="edit-icon" onclick="enableEdit('vat')">✏️</i>
        </p>

        <p>
            <strong>Об'єм на місяць:</strong>
            <span id="modal-client-volumeMonth"></span>
            <i class="edit-icon" onclick="enableEdit('volumeMonth')">✏️</i>
        </p>
        <p>
            <strong>ЄДРПОУ:</strong>
            <span id="modal-client-edrpou"></span>
            <i class="edit-icon" onclick="enableEdit('edrpou')">✏️</i>
        </p>
        <p>
            <strong>Назва підриємства:</strong>
            <span id="modal-client-enterpriseName"></span>
            <i class="edit-icon" onclick="enableEdit('enterpriseName')">✏️</i>
        </p>
        <p>
            <strong>Тип бізнесу:</strong>
            <span id="modal-client-business"></span>
            <i class="edit-icon" onclick="enableSelect('business', availableBusiness)">✏️</i>
        </p>
        <p>
            <strong>Маршрут:</strong>
            <span id="modal-client-route"></span>
            <i class="edit-icon" onclick="enableSelect('route', availableRoutes)">✏️</i>
        </p>
        <p>
            <strong>Область:</strong>
            <span id="modal-client-region"></span>
            <i class="edit-icon" onclick="enableSelect('region', availableRegions)">✏️</i>
        </p>
        <p>
            <strong>Статус:</strong>
            <span id="modal-client-status"></span>
            <i class="edit-icon" onclick="enableSelect('status', availableStatuses)">✏️</i>
        </p>
        <p class="modal-content-p-source">
            <strong>Залучення:</strong>
            <span id="modal-client-source"></span>
            <i id="edit-source" class="edit-icon" onclick="enableSelect('source', availableSources)">✏️</i>
        </p>
        <p class="modal-content-client-product">
            <strong>Товар:</strong>
            <span id="modal-client-clientProduct"></span>
            <i id="edit-clientProduct" class="edit-icon" onclick="enableSelect('clientProduct', availableClientProducts)">✏️</i>
        </p>
        <p>
            <strong>Коментар:</strong>
            <span id="modal-client-comment"></span>
            <i class="edit-icon" onclick="enableEdit('comment')">✏️</i>
        </p>
        <p><strong>Терміновий заїзд:</strong>
            <label style="display: none" for="modal-client-urgently"></label>
            <input type="checkbox" id="modal-client-urgently"></p>
        <p><strong>Створено:</strong> <span id="modal-client-created"></span></p>
        <p><strong>Оновлено:</strong> <span id="modal-client-updated"></span></p>

        <div class="section-client-buttons">

            <div class="section-client-buttons-block">
                <button id="save-client" onclick="saveClientChanges()">Зберегти зміни</button>
                <button id="cancel-client" onclick="cancelClientChanges()" style="display: none;">Відмінити</button>
            </div>

            <div class="section-client-buttons-block">
                <button id="delete-client" class="delete-btn">Видалити</button>
                <button id="full-delete-client" class="delete-btn">Full delete</button>
            </div>
        </div>
    </div>
</div>

<div id="purchaseClientModal" class="modal-purchase-client" style="display: none;">
    <div class="modal-purchase-client-content">
        <span id="closePurchaseModal">&times;</span>
        <h3 id="client-id-purchase">Клієнт:</h3>
        <table id="purchaseTable">
            <thead>
            <tr>
                <th>Водій</th>
                <th>Залучення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сплачено</th>
                <th>Форма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="saleClientModal" class="modal-sale-client" style="display: none;">
    <div class="modal-sale-client-content">
        <span id="closeSaleModal">&times;</span>
        <h3 id="client-id-sale">Клієнт:</h3>
        <table id="saleTable">
            <thead>
            <tr>
                <th>Водій</th>
                <th>Залучення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сплачено</th>
                <th>Форма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="containerClientModal" class="modal-container-client" style="display: none;">
    <div class="modal-container-client-content">
        <span id="closeContainerModal">&times;</span>
        <h3 id="client-id-container">Клієнт:</h3>
        <table id="containerTable">
            <thead>
            <tr>
                <th>Кількість</th>
                <th>Тип тари</th>
                <th>Власник</th>
                <th>Оновлено</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id="loader-backdrop" class="loader-backdrop" style="display: none;">
    <div id="loader" class="loader"></div>
</div>

<script src="/js/purchase.js"></script>
<script src="/js/createCustomSelect.js"></script>
<script src="/js/common.js"></script>
<script src="/js/editClient.js"></script>
<script src="/js/loadClientDetails.js"></script>
<script src="/js/error.js"></script>
<script src="/js/exportExcel.js"></script>
<script>
    initExcelExport({
        apiPath: '/api/v1/purchase',
        downloadFilename: 'purchases_data.xlsx'
    });
</script>

</body>
</html>