<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Route</title>

    <link rel="stylesheet" href="/css/ios-safari-fix.css">
    <link rel="stylesheet" href="/css/routes.css">
    <link rel="stylesheet" href="/css/common.css">

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Vinteh"/>
    <link rel="manifest" href="/favicon/site.webmanifest"/>

</head>
<body>

<label class="hamburger">
    <input id="hamburger" type="checkbox">
    <svg viewBox="0 0 32 32">
        <path class="line line-top-bottom"
              d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
        <path class="line" d="M7 16 27 16"></path>
    </svg>
</label>

<header>
    <div class="user-info">
        <span id="userName">Не вказано</span><br>
        <span id="userBalance">0</span>
    </div>
    <nav>
        <ul>
            <li id="nav-clients"><a href="/clients">
                Клієнти
            </a></li>
            <li id="nav-routes"><a class="selected-nav" href="/routes">
                Маршрути
            </a></li>
            <li id="nav-purchase"><a href="/purchase">
                Закупівлі
            </a></li>
            <li id="nav-sale"><a href="/sale">
                Продажі
            </a></li>
            <li id="nav-containers"><a href="/containers">
                Тари
            </a></li>
            <li id="nav-inventory"><a href="/inventory">
                Баланс тари
            </a></li>
            <li id="nav-balance"><a href="/balance">
                Баланс грошовий
            </a></li>
            <li id="nav-warehouse"><a href="/warehouse">
                Склад
            </a></li>
            <li id="nav-stock"><a href="/stock">
                Баланс складу
            </a></li>
            <li id="nav-analytics"><a href="/analytics">
                Аналітика
            </a></li>
            <li id="nav-settings"><a href="/settings" class="setting-icon-block">
                Налаштування
            </a></li>
            <li>
                <a href="#" id="logout">
                    Вихід
                </a>
            </li>
        </ul>
    </nav>
</header>

<div class="search-section">
    <span id="all-client-info"></span>
    <div class="search-block">
        <label style="display: none" for="inputSearch"></label>
        <input type="text" id="inputSearch" placeholder="Пошук">
        <button id="searchButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>

    <div class="filter-button-block">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.796 4H5.20398C5.01174 3.99984 4.82352 4.05509 4.66187 4.15914C4.50022 4.26319 4.37199 4.41164 4.29253 4.58669C4.21308 4.76175 4.18577 4.956 4.21387 5.14618C4.24197 5.33636 4.32429 5.51441 4.45098 5.659L9.75298 11.717C9.91245 11.8995 10.0002 12.1337 9.99998 12.376V17.25C9.99998 17.3276 10.0181 17.4042 10.0528 17.4736C10.0875 17.543 10.1379 17.6034 10.2 17.65L13.2 19.9C13.2743 19.9557 13.3626 19.9896 13.4551 19.998C13.5476 20.0063 13.6405 19.9887 13.7236 19.9472C13.8066 19.9057 13.8765 19.8419 13.9253 19.7629C13.9741 19.6839 14 19.5929 14 19.5V12.376C13.9997 12.1337 14.0875 11.8995 14.247 11.717L19.549 5.658C20.115 5.012 19.655 4 18.796 4Z"
                  stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </div>

    <div id="filter-counter" style="display: none; cursor: pointer;">
        <span id="filter-count">0</span>
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 3.5L4.125 13.5C4.15469 14.0778 4.575 14.5 5.125 14.5H10.875C11.4272 14.5 11.8397 14.0778 11.875 13.5L12.5 3.5"
                  stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 3.5H13.5Z" fill="#FF0000"/>
            <path d="M2.5 3.5H13.5" stroke="#FF0000" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M6 3.5V2.25C5.99971 2.15143 6.01891 2.05377 6.0565 1.96265C6.09409 1.87152 6.14932 1.78873 6.21903 1.71903C6.28873 1.64933 6.37152 1.59409 6.46265 1.55651C6.55377 1.51892 6.65143 1.49971 6.75 1.5H9.25C9.34857 1.49971 9.44623 1.51892 9.53735 1.55651C9.62848 1.59409 9.71127 1.64933 9.78097 1.71903C9.85068 1.78873 9.90591 1.87152 9.9435 1.96265C9.98109 2.05377 10.0003 2.15143 10 2.25V3.5M8 5.5V12.5M5.75 5.5L6 12.5M10.25 5.5L10 12.5"
                  stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>


    <div class="open-modal-create-block">
        <button id="open-modal">+</button>
    </div>
</div>

<div id="filterModal" class="modal-filter">
    <div class="modal-content-filter">
        <span class="close-filter">×</span>
        <h1>ФІЛЬТРИ</h1>
        <form id="filterForm">
            <h2>Дата створення клієнта:</h2>
            <div class="filter-block">
                <label class="from-to-style" for="createdAtFrom">Від:</label>
                <input type="date" id="createdAtFrom" name="createdAtFrom"><br><br>

                <label class="from-to-style" for="createdAtTo">До:</label>
                <input type="date" id="createdAtTo" name="createdAtTo"><br><br>
            </div>
            <h2>Дата останньої активності:</h2>
            <div class="filter-block">
                <label class="from-to-style" for="updatedAtFrom">Від:</label>
                <input type="date" id="updatedAtFrom" name="updatedAtFrom"><br><br>

                <label class="from-to-style" for="updatedAtTo">До:</label>
                <input type="date" id="updatedAtTo" name="updatedAtTo"><br><br>
            </div>

            <div class="select-section-items">

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="business-filter">Тип бізнесу:</label>
                    <select id="business-filter" name="business" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="route-filter">Маршрут:</label>
                    <select id="route-filter" name="route" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="region-filter">Область:</label>
                    <select id="region-filter" name="region" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="status-filter">Статус:</label>
                    <select id="status-filter" name="status" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="source-filter">Залучення:</label>
                    <select id="source-filter" name="source" multiple>
                    </select>
                </div>

                <div class="select-section-item">
                    <br>
                    <label class="select-label-style" for="client-product-filter">Товар:</label>
                    <select id="client-product-filter" name="clientProduct" multiple>
                    </select>
                </div>
            </div>

        </form>
        <button id="modal-filter-button-submit" type="submit">Застосувати фільтри</button>
    </div>
</div>

<div id="client-list">
    <table>
        <thead>
        <tr>
            <th>
                <label style="display: none" for="select-all"></label>
                <input type="checkbox" id="select-all"></th>
            <th>Дії</th>
            <th data-sort="company">Компанія</th>
            <th data-sort="region">Область</th>
            <th data-sort="location">Адреса</th>
            <th>Телефони</th>
            <th data-sort="route">Маршрут</th>
            <th>Ціна</th>
            <th data-sort="status">Статус</th>
            <th data-sort="urgently">!</th>
        </tr>
        </thead>
        <tbody id="client-table-body">
        </tbody>
    </table>
</div>

<button id="delete-selected" style="display: none;" onclick="deleteSelectedClients()">Delete Selected</button>

<button id="map-button" style="display: none;">
    <svg width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 4L3 7V20L9 17M9 4L15 7M9 4V17M15 7L21 4V17L15 20M15 7V20M15 20L9 17" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>

<div id="map-modal" class="map-modal" style="display: none;">
    <div class="map-modal-content">
        <span class="map-close">&times;</span>
        <form id="route-form">
            <label for="start-location">Від:</label>
            <input type="text" id="start-location" name="startLocation" required>

            <label for="end-location">До:</label>
            <input type="text" id="end-location" name="endLocation" required>

            <button type="submit">Побудувати</button>
        </form>
        <!--<div id="map" style="height: 1px; width: 1px;"></div>-->
    </div>
</div>


<div id="pagination">
    <button id="prev-btn"><</button>
    <span id="pagination-info"></span>
    <button id="next-btn">></button>
</div>

<div id="client-modal" style="display: none;" data-source-id="" data-client-id="">
    <div class="modal-content-client">
        <span id="close-modal-client" class="close">&times;</span>
        <h1><span id="modal-client-id"></span></h1>
        <div class="section-client-buttons">
            <div class="section-client-buttons-block">
                <button id="show-purchases-client" class="client-action-info-button">Закупівлі</button>
                <button id="show-sale-client" class="client-action-info-button">Продажі</button>
                <button id="show-containers-client" class="client-action-info-button">Тара</button>
            </div>
        </div>
        <p>
            <strong>Компанія:</strong>
            <span id="modal-client-company"></span>
            <i class="edit-icon" onclick="enableEdit('company')">✏️</i>
        </p>
        <p>
            <strong>Контактна особа:</strong>
            <span id="modal-client-person"></span>
            <i class="edit-icon" onclick="enableEdit('person')">✏️</i>
        </p>
        <p>
            <strong>Телефони:</strong>
            <span id="modal-client-phone"></span>
            <i class="edit-icon" onclick="enableEdit('phone')">✏️</i>
        </p>
        <p>
            <strong>Адреса:</strong>
            <span id="modal-client-location"></span>
            <i class="edit-icon" onclick="enableEdit('location')">✏️</i>
        </p>
        <p>
            <strong>Ціна закупівлі:</strong>
            <span id="modal-client-price-purchase"></span>
            <i class="edit-icon" onclick="enableEdit('price-purchase')">✏️</i>
        </p>
        <p>
            <strong>Ціна продажу:</strong>
            <span id="modal-client-price-sale"></span>
            <i class="edit-icon" onclick="enableEdit('price-sale')">✏️</i>
        </p>
        <p>
            <strong>ПДВ:</strong>
            <span id="modal-client-vat"></span>
            <label style="display: none" for="edit-vat"></label>
            <input type="checkbox" id="edit-vat" style="display: none;">
            <i class="edit-icon" onclick="enableEdit('vat')">✏️</i>
        </p>

        <p>
            <strong>Об'єм на місяць:</strong>
            <span id="modal-client-volumeMonth"></span>
            <i class="edit-icon" onclick="enableEdit('volumeMonth')">✏️</i>
        </p>
        <p>
            <strong>ЄДРПОУ:</strong>
            <span id="modal-client-edrpou"></span>
            <i class="edit-icon" onclick="enableEdit('edrpou')">✏️</i>
        </p>
        <p>
            <strong>Назва підриємства:</strong>
            <span id="modal-client-enterpriseName"></span>
            <i class="edit-icon" onclick="enableEdit('enterpriseName')">✏️</i>
        </p>
        <p>
            <strong>Тип бізнесу:</strong>
            <span id="modal-client-business"></span>
            <i class="edit-icon" onclick="enableSelect('business', availableBusiness)">✏️</i>
        </p>
        <p>
            <strong>Маршрут:</strong>
            <span id="modal-client-route"></span>
            <i class="edit-icon" onclick="enableSelect('route', availableRoutes)">✏️</i>
        </p>
        <p>
            <strong>Область:</strong>
            <span id="modal-client-region"></span>
            <i class="edit-icon" onclick="enableSelect('region', availableRegions)">✏️</i>
        </p>
        <p>
            <strong>Статус:</strong>
            <span id="modal-client-status"></span>
            <i class="edit-icon" onclick="enableSelect('status', availableStatuses)">✏️</i>
        </p>
        <p class="modal-content-p-source">
            <strong>Залучення:</strong>
            <span id="modal-client-source"></span>
            <i id="edit-source" class="edit-icon" onclick="enableSelect('source', availableSources)">✏️</i>
        </p>
        <p class="modal-content-client-product">
            <strong>Товар:</strong>
            <span id="modal-client-clientProduct"></span>
            <i id="edit-clientProduct" class="edit-icon" onclick="enableSelect('clientProduct', availableClientProducts)">✏️</i>
        </p>
        <p>
            <strong>Коментар:</strong>
            <span id="modal-client-comment"></span>
            <i class="edit-icon" onclick="enableEdit('comment')">✏️</i>
        </p>
        <p><strong>Терміновий заїзд:</strong>
            <label style="display: none" for="modal-client-urgently"></label>
            <input type="checkbox" id="modal-client-urgently"></p>
        <!--<p><strong>Остання закупівля:</strong> <span id="modal-client-lastPurchaseDate" data-client-id=""></span></p>-->
        <p><strong>Створено:</strong> <span id="modal-client-created"></span></p>
        <p><strong>Оновлено:</strong> <span id="modal-client-updated"></span></p>

        <div class="section-client-buttons">

            <div class="section-client-buttons-block">
                <button id="save-client" onclick="saveClientChanges()">Зберегти зміни</button>
                <button id="cancel-client" onclick="cancelClientChanges()" style="display: none;">Відмінити</button>
            </div>

            <div class="section-client-buttons-block">
                <button id="delete-client" class="delete-btn">Видалити</button>
                <button id="full-delete-client" class="delete-btn">Full delete</button>
            </div>
        </div>
    </div>
</div>

<div id="createClientModal">
    <div id="createClientModal-content">
        <span class="create-client-close">&times;</span>
        <h1>Створення нового клієнта</h1>
        <form id="client-form">
            <input type="text" id="company" name="company" placeholder="Компанія">
            <input type="text" id="person" name="person" placeholder="Контактна особа">
            <input type="text" id="phoneNumbers" name="phoneNumbers" placeholder="Телефони (розділяємо комою)">
            <div id="output"></div>
            <input type="text" id="location" name="location" placeholder="Адреса">
            <input type="text" id="comment" name="comment" placeholder="Коментар">
            <select id="region" name="regionId">
                <option value="" disabled selected>Область</option>
            </select>
            <select id="status" name="statusId">
                <option value="" disabled selected>Статус</option>
            </select>
            <select id="source" name="sourceId">
                <option value="" disabled selected>Залучення</option>
            </select>
            <select id="clientProduct" name="clientProductId">
                <option value="" disabled selected>Товар</option>
            </select>
            <select id="route" name="routeId">
                <option value="" disabled selected>Маршрут</option>
            </select>
            <select id="business" name="businessId">
                <option value="" disabled selected>Тип бізнесу</option>
            </select>
            <input type="text" id="volumeMonth" name="volumeMonth" placeholder="Орієнтований об'єм">

            <button type="submit" id="save-button" disabled>Зберегти</button>
        </form>
    </div>
</div>

<label style="display: none" for="company"></label>
<label style="display: none" for="person"></label>
<label style="display: none" for="phoneNumbers"></label>
<label style="display: none" for="location"></label>
<label style="display: none" for="comment"></label>
<label style="display: none" for="region"></label>
<label style="display: none" for="status"></label>
<label style="display: none" for="source"></label>
<label style="display: none" for="route"></label>
<label style="display: none" for="business"></label>
<label style="display: none" for="volumeMonth"></label>
<label style="display: none" for="clientProduct"></label>

<div id="purchaseClientModal" class="modal-purchase-client" style="display: none;">
    <div class="modal-purchase-client-content">
        <span id="closePurchaseModal">&times;</span>
        <h3 id="client-id-purchase">Клієнт:</h3>
        <table id="purchaseTable">
            <thead>
            <tr>
                <th>Водій</th>
                <th>Залучення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сплачено</th>
                <th>Форма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="saleClientModal" class="modal-sale-client" style="display: none;">
    <div class="modal-sale-client-content">
        <span id="closeSaleModal">&times;</span>
        <h3 id="client-id-sale">Клієнт:</h3>
        <table id="saleTable">
            <thead>
            <tr>
                <th>Водій</th>
                <th>Залучення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сплачено</th>
                <th>Форма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="containerClientModal" class="modal-container-client" style="display: none;">
    <div class="modal-container-client-content">
        <span id="closeContainerModal">&times;</span>
        <h3 id="client-id-container">Клієнт:</h3>
        <table id="containerTable">
            <thead>
            <tr>
                <th>Кількість</th>
                <th>Тип тари</th>
                <th>Власник</th>
                <th>Оновлено</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id="saleModal" class="modal-sale">
    <div class="modal-content-sale">
        <h1>Продаж</h1>
        <span class="close-sale-modal">&times;</span>
        <form id="saleForm">

            <label for="productSale">Товар:</label>
            <select id="productSale" name="productSale" required></select><br><br>

            <label for="paymentMethodSale">Форма оплати:</label>
            <select id="paymentMethodSale" name="paymentMethodSale" required>
                <option value="CASH" selected>Готівка</option>
                <option value="BANKTRANSFER">Безготівкова</option>
            </select><br><br>
            <label for="quantityProductSale">Кількість (кг):</label>
            <input type="number" id="quantityProductSale" name="quantityProductSale" required step="0.01"
                   min="0"><br><br>
            <label for="totalPrice">Віддана сума:</label>
            <label style="display: none" for="totalPriceSale"></label>
            <input type="number" id="totalPriceSale" name="totalPriceSale" required step="0.01" min="0"><br><br>
            <label style="display: none" for="currencySale"></label>
            <select id="currencySale" name="currencySale" required>
                <option value="UAH" selected>UAH</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
            </select><br><br>

            <label for="exchangeRateSale" id="exchangeRateSaleLabel" style="display: none;">Курс:</label>
            <input type="number" id="exchangeRateSale" name="exchangeRateSale" step="0.000001" min="0" style="display: none;"><br><br>

            <input type="hidden" id="clientIdSale" name="clientIdSale">
            <input type="hidden" id="sourceIdSale" name="sourceIdSale">
            <button type="submit">Продати</button>
        </form>
    </div>
</div>

<div id="purchaseModal" class="modal-purchase">
    <div class="modal-content-purchase">
        <h1>Закупівля</h1>
        <span class="close-purchase-modal">&times;</span>
        <form id="purchaseForm">

            <label for="product">Товар:</label>
            <select id="product" name="product" required></select><br><br>

            <label for="paymentMethod">Форма оплати:</label>
            <select id="paymentMethod" name="paymentMethod" required>
                <option value="CASH" selected>Готівка</option>
                <option value="BANKTRANSFER">Безготівкова</option>
            </select><br><br>
            <label for="quantityProduct">Кількість (кг):</label>
            <input type="number" id="quantityProduct" name="quantityProduct" required step="0.01" min="0"><br><br>
            <label for="totalPrice">Віддана сума:</label>
            <input type="number" id="totalPrice" name="totalPrice" required step="0.01" min="0"><br><br>
            <label style="display: none" for="currencyPurchase"></label>
            <select id="currencyPurchase" name="currencyPurchase" required>
                <option value="UAH" selected>UAH</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
            </select><br><br>

            <label for="exchangeRatePurchase" id="exchangeRatePurchaseLabel" style="display: none;">Курс:</label>
            <input type="number" id="exchangeRatePurchase" name="exchangeRatePurchase" step="0.000001" min="0" style="display: none;"><br><br>

            <input type="hidden" id="clientIdPurchase" name="clientIdPurchase">
            <input type="hidden" id="sourceIdPurchase" name="sourceIdPurchase">
            <button type="submit">Купити</button>
        </form>
    </div>
</div>

<div id="barrelModal" class="modal-barrel">
    <div class="modal-content-barrel">
        <h1>Бочки</h1>
        <span class="close-barrel">&times;</span>
        <form id="barrelForm">
            <label for="action">Дія:</label>
            <select id="action" name="action" required>
                <option value="TRANSFER_TO_CLIENT">Оставити</option>
                <option value="COLLECT_FROM_CLIENT">Забрати</option>
            </select><br><br>

            <label for="barrelType">Тип бочки:</label>
            <select id="barrelType" name="barrelType" required></select><br><br>

            <label for="quantity">Кількість (шт):</label>
            <input type="number" id="quantity" name="quantity" required min="1" step="1"><br><br>

            <input type="hidden" id="clientIdBarrel" name="clientId">
            <button type="submit">Виконати</button>
        </form>
    </div>
</div>


<div id="loader-backdrop" class="loader-backdrop" style="display: none;">
    <div id="loader" class="loader"></div>
</div>


<script src="/js/ios-safari-fix.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/createCustomSelect.js"></script>
<script src="/js/common.js"></script>
<script src="/js/editClient.js"></script>
<script src="/js/loadClientDetails.js"></script>
<script src="/js/error.js"></script>

</body>
</html>